@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


/* Service Details Modal */
#serviceDetails .modal-dialog{
  max-width: 750px;
  width: 100%;
}

#spServiceDetails .modal-dialog {
    max-width: 750px;
    width: 100%;
}

#serviceDetails .modal-content{
  width: 100%;
}

#spServiceDetails .modal-content {
    width: 100% !important;
}

#serviceDetails .modal-title{
    font-size: 20px;
    line-height: 24px;
    text-align: start;
}

#serviceDetails .modal-title,.modal-body p{
  margin-bottom: 0px;
}

#serviceDetails .modal-header{
  align-items: flex-start;
  justify-content: flex-start;
}

#netAmt{
  color: #1D7A8C;
  font-size: 24px;
}

#RescheduleBtn {
    background-color: #146371;
    border-radius: 17px;
}

#CancelServiceBtn {
    background-color: #FF6B6B;
    border-radius: 17px;
}

/* Reschedule Service Modal */
#reScheduleModal .modal-content{
  max-width: 400px;
}

#reScheduleModal .modal-footer button,
#cancelServiceModal .modal-footer button,
#IsCompleteServiceModal .modal-footer button {
    width: 100%;
    background-color: #1D7A8C;
    padding: 11px 34px;
    color: #ffffff;
}

/* Rate SP Modal */
#rateSpModal table tr td{
  padding: 5px ;
}

#rateSpModal .modal-footer{
  justify-content: start;
}

#rateSpModal .modal-footer button{
  background-color: #1D7A8C;
  padding: 11px 34px;
  color: #ffffff;
}

/* My Settings */
#mySettings ul{
  list-style-type: none;
  border: none;
}

#mySettings .nav-tabs a{
  text-decoration: none;
  color: #565656;
  font-weight: 500;
  border-bottom: 4px solid #f9f9f9;
}

#mySettings .nav-tabs li{
  width: 33.333%;
  padding-bottom: 10px;
}

#mySettings .nav-tabs .nav-link.active{
  border: none;
  color: #1D7A8C;
  border-bottom: 4px solid #1D7A8C;
}

#mySettings .tab-content #myDetails form{
  padding: 10px;
}

#mySettings .tab-content #myDetails .form-group .control-label{
  color: #565656;
  font-weight: 500;
  margin-bottom: 5px;
}

#mySettings .tab-content #myDetails .form-group .form-control{
  margin-bottom: 20px;
    background: #fff;
    font-size: 16px;
    line-height: 20px;
    color: #646464;
    padding: 12px 15px;
    box-shadow: none;
    border: 1px solid #dedddd;
    height: 46px;
    resize: none;
    -webkit-appearance: listbox;
}

#mySettings .tab-content #myDetails 
.date-group .inner-wrapper {
  display: table;
  width: 100%;
}

#mySettings .tab-content #myDetails
.date-group .inner {
  display: table-cell;
}

#mySettings .tab-content #myDetails
 .date-group .form-control {
  display: inline-block;
  padding: 12px 4px;
}

#mySettings .tab-content #myDetails
.date-group .inner:nth-child(2) {
  padding: 0 10px;
}

/* #mySettings .tab-content #myDetails 
.form-group  */
.input-group-addon {
  font-size: 16px;
  line-height: 32px;
  border-color: #dedddd;
  padding: 6px 6px;
    font-weight: 400;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 15%;
    height: 46px;
    white-space: nowrap;
    vertical-align: middle;
}

#mySettings .tab-content #myDetails
.form-control.inline {
  width: auto;
}

#mySettings .tab-content #myDetails .btn-primary {
  background: #1d7a8c;
  border: none!important;
  border-radius: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #fff!important;
  transition: all .3s ease;
  padding: 11px 25px;
}

#mySettings .form-section {
    margin-bottom: 20px;
    position: relative;
}

#mySettings .account-status {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 0 25px;
}

    #mySettings .account-status span {
        color: #67b644;
        font-weight: 400;
    }

/* SP settings */
#mySettings .form-group .radio.inline label {
    font-size: 16px;
    color: #565656;
    line-height: 46px;
}


#mySettings .radio input:checked ~ span {
    background: #1d7a8c;
    transition: all .2s ease;
}

#mySettings .columnAvatar .avatar {
    height: 85px;
    border-radius: 85px;
}

#mySettings .columnAvatar .active {
    border: 3px solid #1D7A8c;
}

#mySettings .form-section .title {
    font-size: 18px;
    color: #565656;
    line-height: 22px;
    padding-bottom: 10px;
    border-bottom: 3px solid #dcdcdc;
    font-weight: 700;
    margin: 0 0 15px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* My Addresses */
#myAddresses span{
  color: #646464;
}

#myAddresses .table-responsive {
  border: 1px solid #e1e1e1!important;
  margin-bottom: 15px;
}

#myAddresses table {
  width: 100%;
}

#myAddresses table thead {
  background: #f3f3f3;
  border-bottom: 2px solid #e1e1e1;
}

#myAddresses table thead tr th {
  padding: 10px 15px;
  color: #646464;
}

#myAddresses table tbody tr td {
  padding: 15px;
  vertical-align: middle;
}

#myAddresses table .radio {
  margin-bottom: 0;
  height: 18px;
}

#myAddresses .radio input:checked~span {
  border-color: #1d7a8c;
}

#myAddresses table .contact span:first-child {
  display: block;
}

#myAddresses table .contact span {
  display: inline-block;
  line-height: 24px;
}

#myAddresses table .action-buttons a {
  color: transparent;
  display: inline-block;
  position: relative;
  padding: 5px;
}

#myAddresses table .action-buttons a+a {
  margin-left: -5px;
}

#myAddresses table .action-buttons a:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-radius: 500px;
  top: 50%;
  left: 50%;
  background: #f3f3f3;
  z-index: -1;
  transition: all .2s ease;
  margin: 0;
}

#myAddresses .btn {
  border-radius: 50px;
}
#myAddresses .show-more {
  padding: 8px 10px;
  float: left;
}

#myAddresses .btn-default {
  border-color: #c6c6c6;
  color: #666;
  transition: all .3s ease;
  background: 0 0;
  font-size: 16px;
  border-radius: 50px;
}

#myAddresses .show-more-block .btn {
  height: 36px;
  padding: 5px 15px!important;
  line-height: 26px!important;
}

#myAddresses .btn-primary {
  background: #1d7a8c;
  border: none!important;
  line-height: 24px;
  color: #fff!important;
  transition: all .3s ease;
}

/* change password */
.form-group {
  margin-bottom: 15px;
  padding-right: 0px;
}

.control-label {
  font-weight: 700;
  margin-bottom: 5px;
}

#changePassword .form-control {
  height: 46px;
}

#changePassword .btn-primary {
  background: #1d7a8c;
  border: none!important;
  line-height: 24px;
  color: #fff!important;
  transition: all .3s ease;
  border-radius: 50px;
  width: 8%;
}

#mySettings.tabcontent .nav-tabs li a .icon {
  height: 26px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 0 0;
  display: none;
}

#mySettings.tabcontent .nav-tabs li a .details {
  background-image: url(../images/my-account-details.png);
}


#mySettings.tabcontent .nav-tabs .nav-link.active .details {
  background-position: 0 -26px;
}

#mySettings.tabcontent .nav-tabs li a .address {
  background-image: url(../images/my-account-address.png);
}


#mySettings.tabcontent .nav-tabs .nav-link.active .address {
  background-position: 0 -26px;
}

#mySettings.tabcontent .nav-tabs li a .password {
  background-image: url(../images/my-account-password.png);
}


#mySettings.tabcontent .nav-tabs .nav-link.active .password {
  background-position: 0 -26px;
}

@media (max-width: 767px){
#mySettings.tabcontent .nav-tabs  li a .icon {
    display: inline-block;
}

.hidden-xs {
  display: none!important;
}
}

.form-control{
  -webkit-appearance: listbox;
}

#editAddress .modal-content{
    width: 100%;
}

#editAddress .input-group-addon {
    height: 38px;
    width: 18%;
    padding: 0px;
}

#editAddress .control-label{
  color: #646464;
}

#editAddress .modal-body button{
  width: 100%;
  background-color: #1D7A8C;
  padding: 11px 34px;
  color: #ffffff;
}