a { text-decoration: none; }


.form-title {
    font-size: 28px;
    font-weight: bold;
    color: #4f4f4f;
}

.contact-form {
    max-width: 614px;
}

.line {
    width: 62px;
    height: 1px;
    margin: 12.5px 8px;
    background: #cccccc;
}

form{
    margin-top: 30px;
}

.input-div{
    padding: 0px;
}

.register {
    font-size: 20px;
    color: #fff;
    padding: 10px 50px;
    background: #1D7A8C;
    width: 163px;
}





