a { text-decoration: none; }

#nav {
    min-height: 64px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    background: #525252;
}

.form-title {
    font-size: 28px;
    font-weight: bold;
    color: #4f4f4f;
}

.contact-form {
    max-width: 614px;
}

.line {
    width: 62px;
    height: 1px;
    margin: 12.5px 8px;
    background: #cccccc;
}

form{
    margin-top: 30px;
}

.input-div{
    padding: 0px;
}

.register {
    font-size: 20px;
    color: #fff;
    padding: 10px 50px;
    background: #1D7A8C;
    width: 163px;
}

/* footer */
#footer hr {
    display: block;
    background: #424242;
    margin: 19px 0 25px 0;
}

#homepage-footer {
    background-color: #111111;
    padding: 25px 0 5px;
}

#footer-list {
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px 40px;
}

    #footer-list li {
        padding: 0 10px;
    }

        #footer-list li a {
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            color: #f1f1f1;
            font-size: 14px;
        }

#footerSocialMediaSymbol div {
    padding: 0 10px;
}



