* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif !important;
}

#nav {
	min-height: 64px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    background: #525252;
}

.bell-icon{
    width: 72px;
    border-left: 2px solid #E1E1E1;
    border-right: 2px solid #E1E1E1;
}

.welcoming{
    padding: 43px 0px;
    background-color: #F9F9F9;
}





#admin-panel{
    padding: 30px 0px;
}

#admin-panel .container-fluid{
  margin: auto;
  overflow: hidden;
}



/* Style the tab */
.tab {
    max-width: 262px;
    min-width: 212px;
    min-height: 712px;
    float: left;
    border: 1px solid #ccc;
    background-color: #1D7A8C;
    width: 30%;
    height: auto;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: #FFFFFF;
    padding: 17px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
  }

  .tab .tablinks{
      height: 55px;
  }

  .tab hr{
    margin: 0px;
    color: #FFFFFF;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #146371;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #146371;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 0px 0px 31px;
    width: 70%;
    min-height: 300px;
    /*overflow-x: auto;
    overflow-y: auto;*/
  }

  .table{
      border: 1px solid #E1E1E1 !important;
      min-width: 700px;
  }

  .table thead {
      background-color: #F9F9F9;
      height: 49px;
  }

  .table thead tr th p{
    margin: 5px 0px;
    font-weight: bold;
  }
  .table tbody tr{
    border: 1px solid #e1e1e1 !important;
}
  .table tbody tr th p{
    margin: 0px;
  }
  .table tbody tr td p{
    margin: 0px;
    line-height: 1.5;
  }

 .table>:not(:last-child)>:last-child>* {
      border-bottom-color: #E1E1E1;
  }

  /* footer */
#footer hr {
  display: block;
  background: #424242;
  margin: 19px 0 25px 0;
}

#homepage-footer {
  background-color: #111111;
  padding: 25px 0 5px;
}

#footer-list {
  flex-wrap: wrap;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  color: #f1f1f1;
  font-size: 14px;
  padding: 0px 40px;
}

#footer-list li {
  padding: 0 10px;
}

#footerSocialMediaSymbol div {
  padding: 0 10px;
}

  /*@media (min-width:1024px){
    .tabcontent {
      overflow-x: scroll;
      overflow-y: scroll;
    }

  }*/

  /* Block Customer */

  #BlockCustomer .favourite-pro-wrapper.block-customer .favourite-pro {
    padding: 30px 5px;
    border: 1px solid #e1e1e1;
    margin-bottom: 15px;
    text-align: center;
}

#BlockCustomer .favourite-pro>img {
    width: 50px;
    height: 50px;
  border-radius: 500px;
  border: 1px solid #acacac;
  margin-bottom: 20px;
}

#BlockCustomer .favourite-pro .sp-details {
  margin-bottom: 20px;
}

#BlockCustomer .favourite-pro .name {
  color: #4f4f4f;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  display: block;
  white-space: nowrap;
  max-width: 200px;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  margin: 0 auto;
}

#BlockCustomer .favourite-pro .btn {
  width: 80px;
  font-size: 14px;
  padding: 5px;
  border: none!important;
  border-radius: 50px;
  background: #ff6b6b;
  line-height: 24px;
  transition: all .3s ease;
}

#BlockCustomer .table-footer {
  background: #fff;
  padding: 0 0 15px;
  border-top: 0;
}

#BlockCustomer .table-footer .page-length {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}

#BlockCustomer .table-footer .page-length .form-control {
  display: inline-block;
  width: auto;
  font-size: 14px;
  height: 40px;
  padding: 3px 8px;
  margin: 0 5px;
}

#BlockCustomer .table-footer .pagination {
  vertical-align: top;
  float: right;
}

#BlockCustomer .pagination li {
  float: left;
  border: none;
  padding: 0 2px;
  display: inline;
}

#BlockCustomer .pagination>li>a {
  background: 0 0;
  display: block;
  width: 38px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  padding: 0;
  color: #646464;
  border-radius: 40px!important;
  position: relative;
    float: left;
    border: 1px solid #ddd;
}

#BlockCustomer .pagination>li>a i {
  position: relative;
  top: 3px;
}

/* Data Table */

/*.dataTables_wrapper .dataTables_length {
  margin-top: 10px;
  font-size: 14px;
  color: #646464;
}

.dataTables_wrapper .dataTables_info {
  margin-left: 15px;
  margin-top: 4px;
  clear: none !important;
  font-size: 14px;
  color: #646464;
}

.dataTables_wrapper .dataTables_paginate {
  margin-top: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.first {
  content: url(../images/first-page.png);
  padding: 15px 14px 14px 16px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  content: url(../images/keyboard-right-arrow-button-copy.png);
  padding: 15px 14px 14px 16px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #1d7a8c;
  color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  content: url(../images/keyboard-right-arrow-button-copy.png);
  padding: 15px 14px 14px 16px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  transform: rotate(180deg);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.last {
  content: url(../images/first-page.png);
  padding: 15px 14px 14px 16px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  transform: rotate(180deg);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  position: relative !important;
  margin-left: 3px !important;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button {
  top: -13px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.first:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #fff;
    border: 1px solid #1d7a8c;
    background: #fff;
    color: #111 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    border-color: #8bc7d3;
}

 table.dataTable thead .sorting {
  background-image: none !important;
  background-size: 12px;
}*/


#BlockCustomer .cap-icon {
    width: 50px;
    height: 50px;
    padding: 12px 7px;
    border: solid 1px #aaa;
    background-color: var(--white);
    border-radius: 50%;
    float: none;
}