@using Helperland_Clone.ViewModels
@model UserRegistrationViewModel

@{
    ViewData["Title"] = "Register Page";
    ViewBag.transparentNavbar = false;
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Style{
    <link rel="stylesheet" href="~/css/register.css">
}



<div class="contact-form container">
    <div class="form-title text-center">Create an account</div>
    <div class="d-flex align-item-center justify-content-center">
        <span class="line"></span>
                  <img src="~/images/forma-1-copy-5.png" alt="">
                  <span class="line"></span>
    </div>
    <div class="col-md-12 m-0 @( TempData["SuccessMessage"] == null ? "d-none" : "")">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <p class="text-center mt-3">@TempData["SuccessMessage"]</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                     </div>
              </div>
              <div class="col-md-12 m-0 @( TempData["ErrorMessage"] == null ? "d-none" : "")">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                     <p class="text-center mt-3">@TempData["ErrorMessage"]</p> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                     </div>
              </div>
        <form asp-controller="Account" asp-action="Register" method="post">
            <div class="row g-3 align-item-center justify-content-center">
                <div class="form-input col-12 col-sm-6">
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First name" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-input col-12 col-sm-6">
                    <input  asp-for="LastName" type="text" class="form-control" placeholder="Last name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-input col-12 col-sm-6">
                    <input asp-for="Email" type="email" class="form-control" placeholder="E-mail address" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-input col-12 col-sm-6">
                    <div class="input-group mx-0 row">                       
                            <input type="text" class="input-group-text col-2 px-0" id="countryCode" placeholder="+49" />
                            <input
                            asp-for="Mobile"
                            type="text"
                            class="form-control col-10"
                            placeholder="Mobile number"
                            aria-label="Mobile number"
                            aria-describedby="basic-addon1"
                            />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-input col-12 col-sm-6">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-input col-12 col-sm-6">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="policy-checkbox">
                    <input type="checkbox" class="form-check-input">
                    <label class="psw-rem-label" for="LoginPasswordRemember-chkbox"><p>I have read the <a href="#">privacy policy</a></p></label>
                </div>
                
                <button type="submit" value="Register" class="register rounded-pill border-0 outline-0">Register</button>

                <p class="text-center">
                    Already registered?
                    <span><a data-bs-toggle="modal" data-bs-target="#login-modal">Login now</a></span>
                    
                </p>
            </div>
        </form>
    </div>
</div>



