@using Helperland_Clone.ViewModels
@model ServiceBookingCombinedViewModel
@{
    ViewData["Title"] = "Service Booking";
    ViewBag.transparentNavbar = false;
    Layout = "_Layout";
    String CurrentDate = DateTime.Now.ToString("yyyy-MM-dd");
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/book_service.js"></script>
}

@section Style{
    <link rel="stylesheet" href="~/css/ServiceBooking.css">
}

<section class="hero">
    <img src="images/book-service-banner.jpg" alt="" />
  </section>

  <section class="container content">
    <h2 class="text-center">Set up your cleaning service</h2>
    <div class="separator-section">
      <img src="~/images/separator.png" class="separator" alt="" />
      <hr class="w-25 m-auto" />
    </div>

    <div class="tabs row">


      <div class="sub-tab row col-lg-7">


        <ul class="tabs-steps d-flex justify-content-center">
            <li onclick="openTab(event, 'step-1')" class="nav-item tab-1 flex-grow-1 text-center" id="defaultOpen">
              <a title="setup-service">
                <span>
                  <span class="icon"></span>
                  <span class="text">Setup Service</span>
                </span>
              </a>
            </li> 
            
          <li onclick="openTab(event, 'step-2')" class="nav-item tab-2 flex-grow-1 text-center" id="tab2btn">
            <a title="schedule&plan">
              <span>
                <span class="icon"></span>
                <span class="text">Schedule & Plan</span>
              </span>
            </a>
          </li>

          <li onclick="openTab(event, 'step-3')" class="nav-item tab-3 flex-grow-1 text-center" id="tab3btn">
            <a title="your-details">
              <span>
                <span class="icon"></span>
                <span class="text">Your Details</span>
              </span>
            </a>
          </li>
         
          <li onclick="openTab(event, 'step-4')" class="nav-item tab-4 flex-grow-1 text-center" id="tab4btn">
            <a title="make-payment">
              <span>
                <span class="icon"></span>
                <span class="text">Make Payment</span>
              </span>
            </a>
          </li>
        </ul>


        <div id="step-1" class="tabcontent">
          <div class="step-1-content">
            <form id="form-1">              
              <span class="labels">Enter your Postal Code</span>
              <div class="row">
              <div class="col-sm-7 col-md-5">              
                  <input class="form-control" type="text" placeholder="Postal code" asp-for="postalCode.zipCode" id="postalcode">
                  <span asp-validation-for="postalCode.zipCode" class="text-danger" id="CheckMsg"></span>
               </div>
              <div class="col-sm-5 align-items-end">
              <button type="button" class="check-btn" onclick="postalSubmit()">Check Availability</button>
              </div>
              </div>
            </form>
            <hr>
            <div class="continue-btn">
              <button id="continue">Continue</button>
            </div>
          </div>

        </div>



        <div id="step-2" class="tabcontent">
          <form id="form-2">
            <span class="labels">Select number of rooms and bath</span>
            <div class="row">
              <div class="col-sm-2">
                <select class="form-select" id="bedSelect" onchange="SelectBeds()">
                  <option selected>1 bed</option>
                  <option>2 bed</option>
                  <option>3 bed</option>
                </select>
              </div>
              <div class="col-sm-2">
                <select class="form-select" id="bathSelect" onchange="SelectBaths()">
                  <option selected>1 bath</option>
                  <option>2 bath</option>
                  <option>3 bath</option>
                </select>
              </div>
            </div>
            <hr />
            <div class="sub-form row">
              <div class="row col-lg-6">
                <span class="labels">When do you need the cleaner?</span>
                <div class="row">
                  <div class="col-sm-5 d-picker">
                    <input type="date" value=@CurrentDate class="form-control" placeholder="dd/mm/yyyy" id="DateSelect" onchange="SelectDate()" asp-for="schedule.Date" min=@CurrentDate>
                  </div>

                  <div class="col-sm-4 time">
                    <input type="time" class="form-control" placeholder="Time" value="14:00" id="TimeSelect" onchange="SelectTime()" asp-for="schedule.Time">
                  </div>
                </div>
              </div>
              
              <div class="col-lg-6 sub_2">
                <span class="labels">How long do you need your cleaner to stay?</span>                
                <div class="col-sm-5">
                  <select class="form-select" id="hourSelect" onchange="SelectHours()" asp-for="schedule.Duration">
                    <option selected value="3">3.0 Hrs</option>
                    <option value="3.5">3.5 Hrs</option>
                    <option value="4.0">4.0 Hrs</option>
                    <option value="4.5">4.5 Hrs</option>
                    <option value="5.0">5.0 Hrs</option>
                    <option value="5.5">5.5 Hrs</option>
                    <option value="6.0">6.0 Hrs</option>
                    <option value="6.5">6.5 Hrs</option>
                    <option value="7.0">7.0 Hrs</option>
                    <option value="7.5">7.5 Hrs</option>
                    <option value="8.0">8.0 Hrs</option>
                    <option value="8.5">8.5 Hrs</option>
                    <option value="9.0">9.0 Hrs</option>
                    <option value="9.5">9.5 Hrs</option>
                    <option value="10.0">10.0 Hrs</option>
                    <option value="10.5">10.5 Hrs</option>
                  </select>
                </div>
              </div>
            </div>
            <hr />
            <div class="extra-service">
              <span class="labels">Extra Services</span>
              <div class="row justify-content-between">
                <div class="col-lg-2 col-md-2 col-sm-3 service-items" id="service-item-1" onclick="addExtra(this, 'extra1')">
                  <input type="checkbox" id="InsideCabinat" class="hidden" asp-for="schedule.extra.Cabinet" >
                  <div class="service-img" id="cabinets">
                    <div class="img-wrapper" id="img-1"><!-- <img src="images/3.png" id="cabinets" /> --></div>                     
                  </div>
                  <p>Inside cabinets</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 service-items" id="service-item-2" onclick="addExtra(this, 'extra2')">
                  <input type="checkbox"  id="InsideFridge" class="hidden" asp-for="schedule.extra.Fridge" >
                  <div class="service-img" id="fridge">
                    <div class="img-wrapper" id="img-2"><!-- <img src="images/5.png" id="cabinets" /> --></div>
                  </div>
                  <p>Inside fridge</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 service-items" id="service-item-3" onclick="addExtra(this, 'extra3')">
                    <input type="checkbox" id="InsideOven" class="hidden"  asp-for="schedule.extra.Oven">
                  <div class="service-img" id="oven">
                    <div class="img-wrapper" id="img-3"><!-- <img src="images/4.png" id="cabinets" /> --></div>
                  </div>
                  <p>Inside oven</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 service-items" id="service-item-4" onclick="addExtra(this, 'extra4')">
                    <input type="checkbox" id="InsideLaundry"  class="hidden"  asp-for="schedule.extra.laundry">
                  <div class="service-img" id="laundry">
                    <div class="img-wrapper" id="img-4"><!-- <img src="images/2.png" id="cabinets" /> --></div>
                  </div>
                  <p>Laundry wash & dry</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 service-items" id="service-item-5" onclick="addExtra(this, 'extra5')">
                    <input type="checkbox" id="InsideWindow"  asp-for="schedule.extra.window"  class="hidden" >
                  <div class="service-img" id="windows">
                    <div class="img-wrapper" id="img-5"><!-- <img src="images/1.png" id="cabinets" /> --></div>
                  </div>
                  <p>Interior windows</p>
                </div>
              </div>
            </div>
            <hr />
            <div class="comment-part">
              <span class="labels">Comments</span>
              <textarea name="comments_text" cols="110" rows="3" id="comments" asp-for="schedule.Comments"></textarea>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="flexCheckDefault" asp-for="schedule.havePet"/>
                <label class="form-check-label" for="flexCheckDefault">
                <p>I have pets at home</p>
                </label>
              </div>
              <hr />

              <div class="continue-btn">
                <button type="button" onclick="scheduleSubmit()">Continue</button>
              </div>
            </div>
          </form>
        </div>

        <div id="step-3" class="tabcontent">
          <div class="step-3-content">
            <span class="labels">Enter your contact details, so we can serve you in better way !</span>
            <div id="address">
                <div class="address-tab">
                  <input type="radio" id="address" name="address" value="">
                  <label for="address">Any Address goes here</label><br>
                </div>
            </div>
            <button class="add-address" type="button" onclick="show_form()" id="newAddressBtn">+ Add New Address</button>

            <div class="card card-body" id="address_form">

              <form class="row"  asp-action="" asp-controller="BookService">
                <div class="col-md-6">
                  <label for="inputstreet" class="labels">Street name</label>
                  <input type="text" class="form-control" id="inputstreet" asp-for="address.AddressLine1">
                </div>
                <div class="col-md-6">
                  <label for="inputhouse" class="labels">House number</label>
                  <input type="text" class="form-control" id="inputhouse" asp-for="address.AddressLine2">
                </div>
                <div class="col-md-6">
                  <label for="inputpostal" class="labels">Postal code</label>
                  <input type="text" class="form-control" id="inputpostal" asp-for="address.PostalCode">
                </div>
                <div class="col-md-6">
                  <label for="inputcity" class="labels">City</label>
                  <input type="text" class="form-control" id="inputcity" asp-for="address.City" >
                  <span asp-validation-for="address.City" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                  <label for="inputphone" class="labels">Phone number</label>
                  <input type="text" class="form-control" id="inputphone" asp-for="address.Mobile">
                </div>
                <div class="btn-2">
                  <button type="button" id="save" onclick='saveAddressForm()'>
                    Save
                  </button>
                  <button type="reset" id="cancel" onclick="cancelAddressForm()">
                    Cancel
                  </button>
                </div>
              </form>

            </div>
            <span class="labels">Your favourite service provider</span>           
            <hr>
            <div class="fav-sp">
              <p>You can choose your service provider from the below list</p>
              <div class="SP d-flex flex-column justify-content-center">
                <div class="img-sp"><img src="~/images/cap.png" alt="#"></div>
                <span class="labels">Sandip Patel</span>
                <button type="button" id="select">Select</button>
              </div>
              <hr>
              <div class="continue-btn">
                <button onclick="Clickable('tab4btn');ClickFunction('tab4btn')">Continue</button>
              </div>
            </div>
          </div>
        </div>

        <div id="step-4" class="tabcontent">
          <div class="step-4-content">
            <span class="labels">Pay securely with Helperland payment gateway!</span>
            <p>Promo code (Optional)</p>
            <form action="">
              <div class="row">
                <div class="col-sm-7 col-md-5">  
                  <input type="text" class="form-control" placeholder="Promo code" id="promocode">
                </div>
                <div class="col-sm-5 align-items-end">
                  <button type="submit" id="apply">Apply</button>
                </div>
              </div>
            </form>
            <hr>
            <div class="continue-btn" type="button" onclick="completeBookService()">
              <button>Complete Booking</button>
            </div>
          </div>         
        </div>
      </div>

      <div class="payment_summary col-lg-4">
        <div class="card card-body">
          <p class="title">Payment Summary</p>
            <div class="pay-details">
              <p class="details-text">
                <span id="serviceDate">01/01/2018</span>&#64<span id="serviceTime">4:00PM </span><br>
                <span id="numberOfbeds">1 bed</span>, <span id="numberOfbaths">1 bath</span>.
              </p>
              <table id="costTable">
                <thead>
                  <tr>
                    <th>            
                      <p><span style="font-weight: bold;">Duration</span></p>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>
                      <p><span>Basic</span></P>
                    </th> 
                    <td>
                      <p><span id="BasicHours">3.0</span> Hrs</p>
                    </td>
                  </tr>
                    <tr class="hidden" id="extra1">
                      <th>
                        <p><span>Inside cabinets (extra)</span></p>
                      </th> 
                      <td>
                        <p><span>30 Mins</span></p>
                      </td>
                    </tr>
                    <tr class="hidden" id="extra2">
                      <th>
                        <p><span>Inside fridge (extra)</span></p>
                      </th> 
                      <td>
                        <p><span>30 Mins</span></p>
                      </td>
                    </tr>
                    <tr class="hidden" id="extra3">
                      <th>
                        <p><span>Inside oven (extra)</span></p>
                      </th> 
                      <td>
                        <p><span>30 Mins</span></p>
                      </td>
                    </tr>
                    <tr class="hidden" id="extra4">
                      <th>
                        <p><span>Laundry wash and dry (extra)</span></p>
                      </th> 
                      <td>
                        <p><span>30 Mins</span></p>
                      </td>
                    </tr>
                    <tr class="hidden" id="extra5">
                      <th>
                        <p><span>Interior windows (extra)</span></p>
                      </th> 
                      <td>
                        <p><span>30 Mins</span></p>
                      </td>
                    </tr>  
                  <tr style="border-bottom: 1px solid #e1e1e1;"></tr>
                  <tr style="height: 10px"></tr>
                  <tr>
                    <th>
                      <p><span style="font-weight: bold;">Total Service Time</span><p>
                    </th> 
                    <td>
                      <p><span id="totalTime" style="margin-left: 48px; font-weight: bold;" onchange="totlepayment()">3.0 Hrs</span></p>
                    </td>
                  </tr>
                </tbody>
            </table>
            </div>
            <hr>
            <div class="pay-details">
              <table>
                <tbody>
                  <tr>
                    <th>
                      <p><span>Per cleaning lore</span></p>
                    </th>
                    <td>
                      <p><span style="margin-left: 90px; font-weight: bold;">$87</span></p>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <p><span>Discount</span></p>
                    </th>
                    <td>
                      <p><span style="margin-left: 104px; font-weight: bold;">-$27</span></p>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <hr>
            <div class="total-payment">
              <table>
                <tbody>
                  <tr>
                    <th>
                      <p><span style="font-size: 15px; color: #1D7A8C; font-weight: 600;">Total Payment</span></p>
                    </th>
                    <td>
                      <p><span id="payment">$63</span> <br></p>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <p><span>Effective price</span></p>
                    </th>
                    <td>
                      <p><span style="margin-left: 78px; font-size: 16px; font-weight: 700;">$50.4</span> <br></p>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <span style="color: red;">*</span>
                      <span style="font-size: 12px;">You will save 20%</span>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="end-part">
              <a href="#" class="card-link"><img src="images/smiley.png" alt=""> See what is always included</a>
            </div>
        </div>
        <div class="questions col-lg-8 col-md-6 col-sm-6">
          <h6>Questions?</h6>
          <div class="accordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordionbutton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne" style="font-size: 13px;">
                  <span><img src="~/images/keyboard-right-arrow-button.png" alt=""></span>
                  <span id="question"> Which Helperland professional will come to my place?</span>

                </button>
              </h2>

              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                  dapibus velit.
                </div>
              </div>
            </div>
            <hr>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordionbutton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo" style="font-size: 13px;">
                  <span><img src="~/images/keyboard-right-arrow-button.png" alt=""></span>
                  <span id="question"> Which Helperland professional will come to my place?</span>

                </button>
              </h2>

              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                  dapibus velit. .
                </div>
              </div>
            </div>
            <hr>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordionbutton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree" style="font-size: 13px;">
                  <span><img src="~/images/keyboard-right-arrow-button.png" alt=""></span>
                  <span id="question"> Which Helperland professional will come to my place?</span>

                </button>
              </h2>

              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                  dapibus velit. .
                </div>
              </div>
            </div>
            <hr>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordionbutton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour" style="font-size: 13px;">
                  <span><img src="~/images/keyboard-right-arrow-button.png" alt=""></span>
                  <span id="question"> Which Helperland professional will come to my place?</span>

                </button>
              </h2>

              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                  dapibus velit. .
                </div>
              </div>
            </div>
            <hr>
            <h6 id="forhelp"> <a href="">For more help</a> </h6>
          </div>
        </div>
      </div>
    </div>
  </section>

<button type="button" class="btn btn-primary d-none" id="completeBooking" data-bs-toggle="modal" data-bs-target="#alertPopup">
  success popup 
</button>

<div class="modal fade" id="successPopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width:500px">
	<div class="modal-content">
	  <div class="modal-header">

		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  </div>
	  <div class="modal-body">

			  <h4 class="modal-title" id="bookingStatus">  </h4>
			  <h5 id="Model_SID"></h5>
	 
		  
		  </div>
	  
	</div>
  </div>
</div>


    <partial name="_NewsLetterPartial" />

