@{
    ViewData["Title"] = "About Page";
    ViewBag.transparentNavbar = false;
}


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Style{
    <link rel="stylesheet" href="~/css/About.css">
}
    
        <section id="about-banner">  
            <img src="~/images/hero-banner-img.png" alt="aboutImage">
        </section>

        <section id="about-us">
            <div class="section-heading text-center">Contact us</div>
            <div class="d-flex align-item-center justify-content-center">
                <span class="line"></span>
                <img src="~/images/forma-1-copy-5.png" alt="">
                <span class="line"></span>
            </div>
            <div class="container text-center about-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum.
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero.
                    Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.<br><br> 
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. 
                    Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. 
                    In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, 
                    tincidunt et massa ac, vehicula placerat lorem.</p>
            </div>
            <div class="section-heading text-center">Our Story</div>
            <div class="d-flex align-item-center justify-content-center">
                <span class="line"></span>
                <img src="~/images/forma-1-copy-5.png" alt="">
                <span class="line"></span>
            </div>
            <div class="container text-center about-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum.
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero.
                    Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.<br><br> 
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. 
                    Ut semper ligula et mauris tincidunt hendrerit.<br><br> Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. 
                    In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, 
                    tincidunt et massa ac, vehicula placerat lorem.</p>
            </div>
        </section>

        <partial name="_NewsLetterPartial" />
    