@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayoutpage";
}
@Html.Raw(TempData["msg"])
<!-- banner Section  -->
 <section id="banner">
   <div class="banner-container">
       <h1>Lorem ipsum text</h1>
           <ul>
               <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
               <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
               <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
           </ul>
           <div class="text-center">
            <button id="book-cleaner-button" type="button" class="btn btn-lg btn-outline-light px-4">Let's Book a
                Cleaner</button>
        </div>
        <div class="step-wrapper">
            <div class="row justify-content-center flex-wrap">
                <div class="col-lg-3 col-6 process-item-1 full-width">
                    <div class="step">
                        <span>
                            <img src="images/step-1.png" alt="Enter Postcode">
                        </span>
                        <p>Enter your postcode</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 process-item-2 full-width">
                    <div class="step">
                        <span>
                            <img src="images/step-2.png" alt="Select Plan">
                        </span>
                        <p>Select your plan</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 process-item-3 full-width">
                    <div class="step">
                        <span>
                            <img src="images/step-3.png" alt="Pay Securely">
                        </span>
                        <p>Pay securely online</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 process-item-4 full-width">
                    <div class="step">
                        <span>
                            <img src="images/step-4.png" alt="Amazing service">
                        </span>
                        <p>Enjoy amazing service</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-link-wrapper">
        <a href="#" title="Scroll Down" class="scroll-link">
            <img src="images/white-down-arrow.png" alt="Scroll-down">
        </a>
    </div>
</section>

<!-- why helper section-->
<section id="why-helperhand-section">
    <div class="container">
        <div class="why-helperland-heading"><h2 class="text-center">Why Helperland</h2></div>
        <div class="row row-cols-auto">
          <div class="col-12 col-md-6 col-lg-4 text-center">
            <div class="img-block">
                <img src="images/group-21.png" alt="Professionals">
            </div>
            <h3  style="margin-top: 35px;" class="justify-content-center d-flex align-items-center">Experience & Vetted Professionals
            </h3>
            <p style="margin-top: 25px;">dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 text-center">
            <div class="img-block">
                <img src="images/group-23.png" alt="Online Payment">
            </div>
            <h3 style="margin-top: 55px;" class="justify-content-center  d-flex align-items-center">Secure Online Payment</h3>
            <p style="margin-top: 45px;">Payment is processed securely online. Customers pay safely online and manage the booking.</p>
        
          </div>
          <div class="col-12 col-md-6 col-lg-4 text-center">
            <div class="img-block">
                <img src="images/group-24.png" alt="Customer service">
            </div>
            <h3 style="margin-top: 55px;" class="justify-content-center  d-flex align-items-center">Dedicated Customer Service</h3>
            <p style="margin-top: 45px;">to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information.</p>
        
          </div>
        </div>
      </div>
</section>

<!--blog section-->
<section id="blog-section" class="align-items-center">
    <div class="container align-items-center">
    <div class="row row-cols-auto justify-content-center align-items-center">
        <div class="col order-2 order-sm-2 order-lg-1">
            <div class="blog-title"><h2 class="h3">Lorem ipsum dolor sit amet, consectetur</h2></div>
            <div class="blog-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut accumsan vitae, pulvinar ac libero.</p>
                <p>Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante quis vehicula.</p>
                <p>Mauris consequat ornare enim, sed lobortis quam ultrices sed.</p>
            </div>
        </div>
        <div class="col order-1 order-sm-1 order-lg-2">
                <img src="images/group-36.png" class="image-block" alt=" ">
        </div>
    </div>

        <!--our blog-->
        <div class="row row-cols-auto ourblog justify-content-center">
            <div class="col-12 text-center our-blog-heading">
                <h2>Our Blog</h2>
            </div>
            <div class="col card-size">
                <div class="card-content">
                    <div class="ourblog-img"><img src="images/group-28.png" style="width: 100%;" alt=""></div>
                    <div class="card-description">
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <div class="date">January 28,2019</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                        <a href="#" class="readmore">Read the post
                            <img src="images/shape-2.png" alt="right arrow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col card-size">
                <div class="card-content">
                    <div class="ourblog-img"><img src="images/group-29.png" style="width: 100%;" alt=""></div>
                    <div class="card-description">
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <div class="date">January 28,2019</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                        <a href="#" class="readmore">Read the post
                            <img src="images/shape-2.png" alt="right arrow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col card-size">
                <div class="card-content">
                    <div class="ourblog-img"><img src="images/group-30.png" style="width: 100%;" alt=""></div>
                    <div class="card-description">
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <div class="date">January 28,2019</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                        <a href="#" class="readmore">Read the post
                            <img src="images/shape-2.png" alt="right arrow">
                        </a>
                    </div>
                </div>
            </div>
      </div>
</section>

<!--our coustomer-->
<section id="our-customer" class="align-item-center">
    <div class="container">
        <div class="our-customer-heading"><h2 class="text-center">What Our Customers Say</h2></div>
        <div class="row row-cols-auto justify-content-evenly align-items-center">
            <div class="col customer-card">
                    <div class="d-flex flex-row customer-info">
                        <div class="customer-img">
                            <img src="images/group-31.png" alt="">
                        </div>
                        <div class="customer-textbox">
                            <h2>Lary Watson</h2>
                            <p>Manchester</p>
                        </div>
                    </div>
                    <div class="customer-detail">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                        <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                        <a href="#" class="readmore">Read the post
                            <img src="images/shape-2.png" alt="right arrow">
                        </a>
                    </div>
            </div>
            <div class="col customer-card">    
                    <div class="d-flex flex-row customer-info">
                        <div class="customer-img">
                            <img src="images/group-32.png" alt="">
                        </div>
                        <div class="customer-textbox">
                            <h2>John Smith</h2>
                            <p>Manchester</p>
                        </div>
                    </div>
                    <div class="customer-detail">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                        <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                        <a href="#" class="readmore">Read the post
                            <img src="images/shape-2.png" alt="right arrow">
                        </a>
                    </div>
            </div>
            <div class="col customer-card">
                    <div class="d-flex flex-row customer-info">
                        <div class="customer-img">
                            <img src="images/group-33.png" alt="">
                        </div>
                        <div class="customer-textbox">
                            <h2>Lars Johnson</h2>
                            <p>Manchester</p>
                        </div>
                    </div>
                    <div class="customer-detail">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                        <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                        <a href="#" class="readmore">Read the post
                            <img src="images/shape-2.png" alt="right arrow">
                        </a>
                    </div>
            </div>
        </div>
    </div>
</section>

<partial name="_NewsLetterPartial" />


