@{
    ViewData["Title"] = "Price Page";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Style{
    <link rel="stylesheet" href="~/css/Prices.css">
}

    <section id="Prices-banner">  
        <img src="~/images/group-18.png" alt="faqImage">
    </section>

    <section id="Prices">
        <div class="section-heading text-center">Prices</div>
        <div class="d-flex align-item-center justify-content-center">
            <span class="line"></span>
            <img src="~/images/forma-1-copy-5.png" alt="">
            <span class="line"></span>
        </div>
        <div class="Prices-card card text-dark mb-3 justify-content-center">
            <div class="card-heading text-center">One Time</div>
            <div class="card-body">
              <h5 class="card-title text-center">20<span>/hr</span></h5>
              <div class="card-text">
                  <div class="text-item"><img src="~/images/forma-1_5.png" style="margin-right: 9px"> Lower prices</div>
                  <div class="text-item"><img src="~/images/forma-1_5.png" style="margin-right: 9px"> Easy online & secure payment</div>
                  <div class="text-item"><img src="~/images/forma-1_5.png" style="margin-right: 9px"> Easy amendment</div>
              </div>
            </div>
        </div>
        <hr>
    </section>

    <section id="Extra-Services" class="container">
        <div class="section-heading text-center">Extra Services</div>
        <div class="d-flex align-item-center justify-content-center">
            <span class="line"></span>
            <img src="~/images/forma-1-copy-5.png" alt="">
            <span class="line"></span>
        </div>
        <div class="container">
            <div class="row row-cols-auto align-items-center justify-content-center" style="margin-top: 42px">
              <div class="col">
                 <div class="col-body">
                     <div class="col-img  d-flex rounded-circle align-items-center justify-content-center"><img src="~/images/3.png" alt=""></div>
                     <div class="col-title text-center">Inside Cabinets</div>
                     <div class="col-text text-center">30 minutes</div>
                 </div> 
              </div>
              <div class="col">
                <div class="col-body">
                    <div class="col-img  d-flex rounded-circle align-items-center justify-content-center"><img src="~/images/5.png" alt=""></div>
                    <div class="col-title text-center">Inside Fridge</div>
                    <div class="col-text text-center">30 minutes</div>
                </div> 
              </div>
              <div class="col">
                <div class="col-body">
                    <div class="col-img  d-flex rounded-circle align-items-center justify-content-center"><img src="~/images/4.png" alt=""></div>
                    <div class="col-title text-center">Inside Oven</div>
                    <div class="col-text text-center">30 minutes</div>
                </div> 
              </div>
              <div class="col">
                <div class="col-body">
                    <div class="col-img  d-flex rounded-circle align-items-center justify-content-center"><img src="~/images/2.png" alt=""></div>
                    <div class="col-title text-center">Inside Wash & Dry</div>
                    <div class="col-text text-center">30 minutes</div>
                </div> 
              </div>
              <div class="col">
                <div class="col-body">
                    <div class="col-img  d-flex rounded-circle align-items-center justify-content-center"><img src="~/images/1.png" alt=""></div>
                    <div class="col-title text-center">Inside Windows</div>
                    <div class="col-text text-center">30 minutes</div>
                </div> 
              </div>
            </div>
          </div>

    </section>
    
    <section id="cleaning">
        <div class="section-heading text-center">What we include in cleaning</div>
        <div class="d-flex align-item-center justify-content-center">
            <span class="line"></span>
            <img src="~/images/forma-1-copy-5.png" alt="">
            <span class="line"></span>
        </div>
        <div class="container d-flex justify-content-center flex-wrap">
                <div class="card single-card">
                    <img src="~/images/group-18_3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Bedroom and Living Room</h5>
                    <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Dust all accessible surfaces</div>
                    <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Wipe down all mirrors and glass fixtures</div>
                    <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Clean all floor surfaces</div>
                    <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Take out garbage and recycling</div>
                    </div>
            </div>
              <div class="card single-card">
                <img src="~/images/group-18_4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bathrooms</h5>
                  <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Wash and sanitize the toilet, shower, tub, sink</div>
                  <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Dust all accessible surfaces</div>
                  <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Wipe down all mirrors and glass fixtures</div>
                  <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Clean all floor surfaces</div>
                  <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Take out garbage and recycling</div>
                </div>
              </div>
              <div class="card single-card" style="margin-right: 0px">
                <img src="~/images/group-18_2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Kitchen</h5>
                  <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Dust all accessible surfaces</div>
                  <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Empty sink and load up dishwasher</div>
                  <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Wipe down exterior of stove, oven and fridge</div>
                  <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Clean all floor surfaces</div>
                  <div class="card-text"><img src="~/images/vector-smart-object-copy.png" alt="">Take out garbage and recycling</div>
                </div>
              </div>
        </div>
    </section>

    <section id="WhyHelperland-section">
        <div class="section-heading text-center">Why Helperland</div>
        <div class="d-flex align-item-center justify-content-center">
            <span class="line"></span>
            <img src="~/images/forma-1-copy-5.png" alt="">
            <span class="line"></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12 col-sm-12">
                    <div class="row">
                        <div class="col-12 top-div">
                            <div class="div-title text-center text-sm-center text-md-center text-lg-end" style="float: right">Experienced and vetted professionals</div><br>
                            <div class="div-text text-center text-sm-center text-md-center text-lg-end" style="float: right">dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</div>
                        </div>
                        <div class="col-12 bottom-div">
                            <div class="div-title text-center text-sm-center text-md-center text-lg-end" style="float: right">Dedicated customer service</div><br>
                            <div class="div-text text-center text-sm-center text-md-center text-lg-end" style="width: 276px; float: right">to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. you need.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 col-sm-12">
                    <img src="~/images/the-best-img-1.png" alt=" ">
                </div>
                <div class="col-lg-4 col-12 col-sm-12">
                    <div class="row">
                        <div class="col-12 top-div">
                            <div class="div-title text-center text-sm-center text-md-center text-lg-start" style="float: left">Every cleaning is insured</div><br>
                            <div class="div-text text-center text-sm-center text-md-center text-lg-start" style="float: left">and seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean your homes.</div>
                        </div>
                        <div class="col-12 bottom-div">
                            <div class="div-title text-center text-sm-center text-md-center text-lg-start" style="float: left">Every cleaning is insured</div><br>
                            <div class="div-text text-center text-sm-center text-md-center text-lg-start" style="width: 276px; float: left">and seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean your homes.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<partial name="_NewsLetterPartial" />


    
 